*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../imaj/IMG.jpg);
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    width: 33%;
    aspect-ratio: 4/1;
    background-color: aqua;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
div::after{
    content: "";
    position: absolute;
    width: 97%;
    aspect-ratio: 4.3/1;
    border: 2px #fff solid;
    border-radius: 35px;
    
}
div h2{
    text-align: center;
    font-size: 25px;
}