*{
    margin: 0;
    padding: 0;
}
form{
    top: 5%;
    bottom: 5%;
    left: 15%;
    width: 67%;
    height: max-content;
    z-index: 3;
    border :1px  #111 solid;
    position: absolute;
    padding-top: 3%;
  }
  form samp{
    font-size: 35px;
    margin-right: 32%;
    margin-bottom: 5px;
  }
  form img{
    width: 20%;
    position: absolute;
    left: 4%;
    top:12%
  }
  form div {
    margin: 0px 0px 47px;
    z-index: 3;
  }
  
  form div span {
    font-size: 30px;
    color: #111;
    margin-right: 10%;
    z-index: 4;
    text-decoration: underline;
  
  }
  form div .info{
    font-size: 30px;
    color:#111;
    margin-right: 2%;
    z-index: 4;
    text-decoration: none;
    font-family: system-ui;
  }
  