* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(../imaj/IMG.jpg);
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 5%;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  width: 100vw;
  height: 13%;
  background: linear-gradient(0deg, #02123e, #31a16f);
  box-shadow: 0px 0px 1px rgb(37, 37, 37),
    0px 0px 3px rgb(37, 37, 37),
    0px 0px 6px rgb(37, 37, 37),
    0px 0px 9px rgb(37, 37, 37),
    0px 0px 11px rgb(37, 37, 37);
  position: relative;
}

.list {
  top: 25%;
  position: absolute;
  right: 10%;
}

.list a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 10px;
  text-transform: uppercase;
  color: rgb(253, 250, 250);
}

.list a:hover {
  color: rgb(75, 43, 219);
}

.logo img {
  width: 27%;
  margin: 0% 0% 0% 55%;
}

main {
 
  background-size: cover;
  width: 100%;
  padding-top: 30px;
}

.from {
  width: 45%;
  margin: 0 auto;
}

h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}

form {
  width: 45%;
  margin: 0 auto;
  padding-bottom: 40px;
  background-color: rgb(44 231 205 / 50%);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  position: relative;
}

.center {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 2%;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
}

.p1 {
  margin-top: 4%;
  font-size: 30px;
  font-family: cursive;
  color: #000;
}

.error {
  font-size: 30px;
  font-family: cursive;
  color: red;
}

.center div {
  width: 80%;
  height: 60px;
  margin: 15px 0px;
  position: relative;
  overflow: hidden;
}

.center div input {
  width: 100%;
  height: 100%;
  padding-top: 3%;
  font-size: 125%;
  padding-bottom: 1%;
  padding-right: -1%;
  background: none;
  border: none;
  color: #000;
  outline: thin;
}

.center div label {
  width: 100%;
  height: 100%;
  font-size: 125%;
  color: #000;
  position: absolute;
  bottom: 0px;
  left: 0px;
  pointer-events: none;
  border-bottom: 3px solid rgb(223, 30, 30);
}

.center div label::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  bottom: -5%;
  border-bottom: 3px solid rgb(0, 250, 60);
  transform: translate(-100%);
  transition: 0.6s ease;

}

.txt {
  position: absolute;
  right: 0px;
  bottom: 0px;
  transition: 1s ease;
}

.center div input:focus~.lable .txt,
.center div input:valid~.lable .txt {
  transform: translateY(-160%);
  font-size: 90%;
  color: blue;
}

.center div input:focus+.lable::after,
.center div input:valid+.lable::after {
  transform: translateX(0%);
}

.submit {
  width: 40%;
  height: 60px;
  margin-top: 30px;
  border-radius: 40px;
  background: linear-gradient(0deg, #02123e, #31a16f);
  color: black;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.p2 {
  font-size: 25px;
  font-family: cursive;
  color: #000;
}

.gender {
  
  height: 25px;
  font-size: 120%;
  margin-bottom: 8%;
}

.gender input {
  width: 35px;
  height: 18px;
  font-size: 125%;
  background-color: transparent;

}
.gender label{
  margin-left: 75px;
}
form p {
  margin-top: 20px;
  font-size: 35px;
  color: #000;
}
form .model {
  width: 250px;
  border-bottom: 3px solid rgb(3, 162, 173);
  color: rgb(69, 23, 235);
  outline: none;
  font-size: 20px;
  background: none;
}

input[type="date"]::-webkit-datetime-edit { color: transparent; }
input[type="date"]:valid::-webkit-datetime-edit { color: #000}
input[type="date"]:focus::-webkit-datetime-edit { color: #000; }
