*{
    margin: 0;
    padding: 0;
}
div {
    width: 100px;
    height: 50px;
    background: red;
    transition: height 0.5s;
  }
  
  div:hover~.b,.c:hover~.e  {
    height: 100px;
  }
  .b{
  height: 0px;
  background: #000;
  }
  .c{
  height: 50px;
  background: rgb(130, 175, 175);
  }
  .e{
  height: 0px;
  background: rgb(130, 175, 75);
  }